@import url('https://fonts.googleapis.com/css?family=poppins:100,200,300,400,500,600,700,800,900');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 70%;
}

body{
    font-family: 'popons', sans-serif;
    background-color: black
}

.header{
    height: 90vh;
    position: relative;
}

.navbar{
    height: 110px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 10;
    position: fixed;
}

.navbar-box{
    display: flex;
    align-items: center;
    font-size: 3rem;
    color: white;
}

.heading-tertiary{
    font-size: 3.5rem;

}

.yg{
    color: yellowgreen;
}

.navbar-list{
    list-style: none;
    font-size: 2rem;
}

.navbar-item{
    display: inline-block;
}

.navbar-link:visited,
.navbar-link:link{
    text-decoration: none;
    color: white;
    padding: 3rem;
    transition: all .2s ease;
}

.navbar-link:hover{
    background-color: yellowgreen;
    color: white;
}

.navbar-link:visited,
.navbar-link:link{
    text-decoration: none;
    color: white;
    padding: 2rem 3.5rem;
    border: 1px solid yellowgreen;
    border-radius: 200px;
    box-shadow: 0 0 1rem rgba(236, 118, 40, .5);
    text-shadow: 0 .3rem 1rem rgba(255,255,255, .5);
    transition: all .4s ease;
}

.navbar-link-book:hover{
    background-color: #da6b1d;
    color: white;
}
.toggle{
    height: 5rem;
    width: 5rem;
    display: none;
}
.toggle div{
    height: 4px;
    width: 100%;
    background-color: white;
    margin: 1rem;
}

.contact{
    width: 100%;
    padding: 44rem;
    background-image: linear-gradient(to right bottom, rgb(182, 201, 184), yellowgreen);
}