@import url('https://fonts.googleapis.com/css?family=poppins:100,200,300,400,500,600,700,800,900');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 70%;
}

body{
    font-family: 'popons', sans-serif;
    background-color: black
}

.header{
    height: 90vh;
    position: relative;
}

.navbar{
    height: 110px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 10;
    position: fixed;
}

.navbar-box{
    display: flex;
    align-items: center;
    font-size: 3rem;
    color: white;
}

.heading-tertiary{
    font-size: 3.5rem;

}

.yg{
    color: yellowgreen;
}

.navbar-list{
    list-style: none;
    font-size: 2rem;
}

.navbar-item{
    display: inline-block;
}

.navbar-link:visited,
.navbar-link:link{
    text-decoration: none;
    color: white;
    padding: 3rem;
    transition: all .2s ease;
}

.navbar-link:hover{
    background-color: yellowgreen;
    color: white;
}

.navbar-link:visited,
.navbar-link:link{
    text-decoration: none;
    color: white;
    padding: 2rem 3.5rem;
    border: 1px solid yellowgreen;
    border-radius: 200px;
    box-shadow: 0 0 1rem rgba(236, 118, 40, .5);
    text-shadow: 0 .3rem 1rem rgba(255,255,255, .5);
    transition: all .4s ease;
}

.navbar-link-book:hover{
    background-color: #da6b1d;
    color: white;
}
.toggle{
    height: 5rem;
    width: 5rem;
    display: none;
}
.toggle div{
    height: 4px;
    width: 100%;
    background-color: white;
    margin: 1rem;
}

.contact{
    width: 100%;
    padding: 10rem 5rem;
    background-image: linear-gradient(to right bottom, rgb(182, 201, 184), yellowgreen);
}

.contact-heading{
    margin-bottom: 50px;
    font-size: 6rem;
    text-align: center;
    text-shadow: 0 0 1rem rgba(0, 0, 0, .9);
    text-transform: uppercase;
    color: white;
    font-weight: 800;
}

.contact-heading span{
    color: yellowgreen;
}

.contact-grid{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    justify-self: center;
    grid-gap: 2rem;
}
.heading-secondary{
    font-size: 7rem;
    text-transform: uppercase;
    color: white;
    text-align: center;
}
.contact-img{
    height: 40%;
    width: 100%;
    background-size: cover;
    background-position: left;
    background-image: url(./imgs/cellphone.jpg);
}

.contact-imgs{
    height: 40%;
    width: 100%;
    background-size: cover;
    background-position: left;
}

.contact-imgss{
    height: 40%;
    width: 100%;
    background-size: cover;
    background-position: left;
    background-image: url(./imgs/email.jpg);
}

.contact-imgsss{
    height: 40%;
    width: 100%;
    background-size: cover;
    background-position: left;
}

.contact-container{
    width: 100%;
    height: 50rem;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 2rem rgba(0, 0, 0, .2);
    transition: all .4s ease;
}

.contact-container2{
    width: 100%;
    height: 50rem;
    background-color: rgb(193, 243, 93);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 2rem rgba(0, 0, 0, .2);
    transition: all .4s ease;
}

.contact-container3{
    width: 100%;
    height: 50rem;
    background-color: yellowgreen;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 2rem rgba(0, 0, 0, .2);
    transition: all .4s ease;
}

.contact-container1{
    width: 206%;
    height: 50rem;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 2rem rgba(0, 0, 0, .2);
    transition: all .4s ease;
}

.contact-container5{
    width: 416%;
    height: 40rem;
    background-color: yellowgreen;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 2rem rgba(0, 0, 0, .2);
    transition: all .4s ease;
}

.contact-container6{
    width: 416%;
    height: 40rem;
    background-color: yellowgreen;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 2rem rgba(0, 0, 0, .2);
    transition: all .4s ease;
}

.contact-container:hover{
    box-shadow: 0 0 5rem rgba(0, 0, 0, .4);
    transform: scale(1.07);
}

.contact-p{
    font-size: 1.4rem;
    padding: 1rem;
    text-align: center;
}

.contact-title{
    font-size: 3rem;
    text-align: center;
}
.description{
    font-size: 1.5rem;
    margin-top: 1rem;
    text-align: center;
    color: black;
    text-shadow: 0 .4rem 2rem rgba(0, 0, 0, .4);
}

.message-container{
    height: 100%;
    width: 100%;
    padding: 50rem 10rem;
}
.message-container h4
{
    margin-bottom: 50px;
    font-size: 6rem;
    text-align: center;
    text-shadow: 0 0 1rem rgba(0, 0, 0, .9);
    text-transform: uppercase;
    color: white;
    font-weight: 800;
}

.message-container h4 span{
    color: yellowgreen;
}

textarea
{
    height: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
    margin-bottom: 10px;
    resize: none;
    outline: none;
    transition: .5s
}

input[type="submit"], button
{
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
input[type="submit"]
{
    color: #fff;
    background-color: #273c75
}
button
{
    color: #333;
    background-color: transparent
}
.btn
{
    display: none
}
