@import url('https://fonts.googleapis.com/css?family=poppins:100,200,300,400,500,600,700,800,900');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 70%;
}

body{
    font-family: 'popons', sans-serif;
    background-color: black;
}

.header{
    height: 90vh;
    position: relative;
}

.navbar{
    height: 110px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 10;
    position: fixed;
}

.navbar-box{
    display: flex;
    align-items: center;
    font-size: 3rem;
    color: white;
}

.heading-tertiary{
    font-size: 3.5rem;

}

.yg{
    color: yellowgreen;
}

.navbar-list{
    list-style: none;
    font-size: 2rem;
}

.navbar-item{
    display: inline-block;
}

.navbar-link:visited,
.navbar-link:link{
    text-decoration: none;
    color: white;
    padding: 3rem;
    transition: all .2s ease;
}

.navbar-link:hover{
    background-color: yellowgreen;
    color: white;
}

.navbar-link:visited,
.navbar-link:link{
    text-decoration: none;
    color: white;
    padding: 2rem 3.5rem;
    border: 1px solid yellowgreen;
    border-radius: 200px;
    box-shadow: 0 0 1rem rgba(236, 118, 40, .5);
    text-shadow: 0 .3rem 1rem rgba(255,255,255, .5);
    transition: all .4s ease;
}

.navbar-link-book:hover{
    background-color: #da6b1d;
    color: white;
}
.toggle{
    height: 5rem;
    width: 5rem;
    display: none;
}
.toggle div{
    height: 4px;
    width: 100%;
    background-color: white;
    margin: 1rem;
}

.header-container{
    width: 100%;
    height: 100%;
    background-size: cover;
    color: white;
}

.video{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    bottom: 0;
    right: 0;
}
#video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: -1;
}

.header-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    color: white;
}
.heading-primary{
    position: relative;
}
.heading-primary h1{
    position: absolute;
    transform: translate(-50%,-50%);
    font-size: 8rem;
    margin-left: 60%;
}
.heading-primary h1:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 2px yellowgreen;
}
.heading-primary h1:nth-child(2){
    color: yellowgreen;
    animation: animate 4s ease-in-out infinite;
}
@keyframes animate {
    0%,100%
    {
        clip-path: polygon(0% 15%, 12% 53%, 25% 61%, 46% 68%, 65% 67%, 86% 63%, 100% 58%, 100% 100%, 0% 99%);
    }
    50%{
        clip-path: polygon(100% 53%, 82% 53%, 63% 58%, 49% 64%, 33% 67%, 15% 66%, 0% 63%, 0% 100%, 100% 100%);
    }
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 44.7%;
    height: 0;
}

.iframe-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.iframe-container2{
    position: relative;
    width: 100%;
    padding-bottom: 44.7%;
    height: 0;
    margin-top: 100px;
}

.iframe-container2 iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}